<html>
  <%- include('./partials/head.ejs') %>
  <head>
    <style>
    </style>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <main style="margin: 40px;">
      <section id="hero">
        <h2>Revolutionizing Industry with Innovation</h2>
        <p>
          At Software development Industry, we're passionate about transforming
          the industry landscape through groundbreaking innovation. Our vision
          is to our mission is to revolutionize IT by pushing the
          boundaries of innovation and creating transformative solutions that
          drive positive change. Our goal is to empower individuals and
          businesses in the [industry] to reach new heights of success and
          efficiency.
        </p>
        <p>
          With a team of industry experts, cutting-edge technology, and a
          customer-centric approach, we're committed to delivering.
        </p>
        <p>
          Join us on this exciting journey as we disrupt the IT and make
          a lasting impact. 
        </p>
      </section>

      <section id="about">
        <h2>About Digital world</h2>
        <p>
          SAGA IT Tech was founded with the aim of revolutionizing the
          IT sector. Our team brings together a diverse range of skills
          and expertise, united by a shared vision of driving innovation and
          creating value.
        </p>
        <p>
          Through our cutting-edge solutions, we strive to solve the most
          pressing challenges in the IT industry. Our commitment to
          excellence, creativity, and customer satisfaction sets us apart in the
          market.
        </p>
      </section>

      <section id="services">
        <h2>Our Services</h2>
        <p>
          IT offers a range of services tailored to meet the unique
          needs of our clients.  Whether you're a small business or a
          large enterprise, we have the expertise to help you.
        </p>
      </section>

      <section id="contact">
        <h2>Contact Us</h2>
        <p>
          We would love to hear from you! If you have any questions, partnership
          opportunities, or would like to learn more about our services, please
          reach out to us using the contact information below:
        </p>
        <p>
          Email: rahulladrs17@gmail.com<br />
          Phone: 4379887315<br />
          Address: Toronto,Canada
        </p>
      </section>
    </main>
  </body>
</html>
