
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
    
    .sub-navbar {
      background-color: #f1f1f1;
      overflow: hidden;
      margin-top: 60px;
      margin-left: 10%;
      margin-right: 5%;
    }
    
    .sub-navbar a {
      float: left;
      display: block;
      color: #333;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
   
    }
    
    .sub-navbar a:hover {
      background-color: #ddd;
    }
    
    .sub-navbar a.active {
      background-color: #666;
      color: white;
    }
  </style>

  <div class="sub-navbar">
    <a class="active" href="/index">ALL STORIES</a>
    <a>Discover the Power of Business Narratives: SAGA Blogs Unleashed</a>
    <a style="float: right;" href="/edit_blog">EDIT BLOG (*) </a>
    <a style="float: right;" href="/add_Blog">ADD BLOG (+) </a>
    
    
  </div>

